* {
    margin: 0;
    padding: 0;
}



.container {
    max-width: 1140px;
    margin: 0 auto;

}

.top {
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.header {

    display: flex;
    justify-content: space-between;
    padding-top: 42px;
}

.top__box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top__info {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(img/top__back.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;
}

.top__button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}

.top__heading {
    width: 510px;
    font-size: 64px;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 32px;
}

.top__text {

    line-height: 26px;
    width: 425px;
    font-size: 16px;
    letter-spacing: 0.05em;
    opacity: 0.6;
    color: #1F3F68;

}

.what-we-do {
    padding-top: 64px;

}

.heading {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.cartoihka {
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
}

.card__img {
    align-self: center;
    margin-bottom: 51px;
}

.stolbs {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;

}

.heading-mini {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin-bottom: 14px;
}

.card__link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

.text {
    font-size: 16px;
    line-height: 26px;

    letter-spacing: 0.05em;
    opacity: 0.6;
}

.text_progect {
    width: 75%;
    margin: 32px auto 64px;
    color: #222222;
    opacity: 1;
    text-align: center;

}



.progect__img {
    width: 100%;
}

.progect__item {
    position: relative;
    flex-grow: 1;
}

.progect__item_margin {
    margin-right: 32px;
}

.progect__text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    position: absolute;
    top: 64px;
    right: 64px;
    color: #FFFFFF;
}

.progecisi {
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 32px;
    left: 32px;
}

.progect__parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.our {
    font-size: 36px;
    text-align: center;
}

.footer {
    background: #316099;
    padding-top: 91px;
    padding-bottom: 64px;
    margin-top: 112px;
}

.footer__top {

    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer_text {
    width: 495px;
}



.footer__heading {
    width: 340px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.text__footer {
    color: #FFFFFF;
}

.footer__button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 15px 80px;
    background: #5A98D0;
    text-decoration: none;

}

hr {
    opacity: 0.4;

}

.footer__info {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

.li {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    flex-grow: 1;
    flex-basis: 33.3333%;
    list-style-type: none;
    display: flex;
    margin-right: 32px;
}

.li:first-child::before {

    content: '1.';
    display: block;
    margin-right: 16px;
}

.li:last-child::before {
    content: '3.';
    display: block;
    margin-right: 16px;
}

.li:nth-child(2)::before {
    content: '2.';
    display: block;
    margin-right: 16px;

}

.nomer_footer {
    color: #FFFFFF;
}

.main {
    display: flex;
}

.footer__copy {
    margin-top: 64px;
}

.footer__copy-text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}



@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .top__info {
        background-position: right 280px;
    }

    .stolbs {
        flex-direction: column;
        align-items: center;
    }

    .cartoihka {
        margin-bottom: 32px;
    }

    .footer {
        margin-top: 112px 0px 0x;
        padding-top: 48px;
        padding-bottom: 64px;
    }

    .footer__button {
        padding: 4px 31px;
    }

    .footer__info {
        flex-direction: column;
    }

    .li {
        margin-bottom: 24px;
    }

    .li:first-child::before {


        margin-right: 37px;

    }

    .li:last-child::before {

        margin-right: 37px;



    }

    .li:nth-child(2)::before {

        margin-right: 37px;
    }


}

@media(max-width:667px) {
    .header {
        padding-top: 24px;
    }

    .top {
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }

    .top__info {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }

    .top__heading {
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
        text-align: center;
    }

    .top__text {
        width: 100%;
        text-align: center;
    }

    .top__button {
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
    }

    .heading {
        font-size: 24px;
        line-height: 28px;
    }

    .what-we-do {
        padding-top: 48px;
    }

    .stolbs {
        padding-top: 32px;

    }

    .cartoihka {
        width: 100%;
    }

    .text_progect {
        width: 100%;
    }

    .progect__text {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }

    .progecisi {
        left: 16px;
    }

    .progect__parent {
        flex-direction: column;
        margin-top: 16px;

    }

    .progect__item_margin {
        margin-right: 0;
        margin-bottom: 16px;

    }



    .footer {
        padding-top: 18px;
        padding-bottom: 32px;
    }

    .footer__top {
        flex-direction: column;
        padding-bottom: 41px;


    }

    .footer_text {
        width: 100%;
    }

    .footer__heading {
        width: 75%;
        margin: 0 auto 32px;
        text-align: center;
    }

    .text__footer {
        text-align: center;
        margin-bottom: 40px;
    }


    .footer__info {

        flex-direction: column;

    }

    .li {
        margin-bottom: 18px;
    }




    .footer__copy {
        margin-top: 32px;
    }

    .li:first-child::before {
        margin-left: -40px;
    }

    .li:last-child::before {
        margin-left: -40px;
    }

    .li:nth-child(2)::before {
        margin-left: -40px;
    }
}